* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* BODY */
body {
  font-family: Arial, Helvetica, sans-serif;
  background: #bbacac;
  padding: 40px;
}

/* SECCIONES  */
section {
  background: white;
  border-radius: 20px;
  padding: 40px;
  margin-bottom: 40px;
  box-shadow: 0px 5px 20px rgba(0,0,0,0.08);
  width: 100%;
  max-width: 900px;
  margin-left: auto;
  margin-right: auto;
}

/* TITULOS DE SECCION */
section h3 {
  font-size: 35px;
  margin-bottom: 30px;
  color: #111;
  text-align: center;
}
/* ========================= */
/* HERO */
/* ========================= */
.hero {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 40px;
  background: white;
  border-radius: 25px;
  padding: 50px;
  margin-bottom: 40px;
  box-shadow: 0px 5px 20px rgba(0,0,0,0.08);
  flex-wrap: wrap;
  max-width: 900px;
  margin-left: auto;
  margin-right: auto;
}

.hero-texto {
  flex: 1;
  min-width: 280px;
}

.hero-texto h1 {
  text-align: left;
  font-size: 55px;
  margin-bottom: 10px;
}

.hero-texto h2 {
  text-align: left;
  margin-bottom: 20px;
}

.hero-texto p {
  color: #666;
  line-height: 1.7;
  max-width: 500px;
}
.hero-img {
  flex: 1;
  display: flex;
  justify-content: center;
}

.hero-img img {
  width: 260px;
  height: 260px;
  object-fit: cover;
  border-radius: 25px;
  box-shadow: 0px 5px 20px rgba(0,0,0,0.1);
}
/* ========================= */
/* HABILIDADES */
/* ========================= */
.habilidades {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  justify-content: center;
}

.habilidades h3 {
  width: 100%;
  text-align: center;
}

.habilidades div {
  background: #bbacac;
  width: 220px;
  padding: 25px;
  border-radius: 20px;
}

.habilidades h4 {
  margin-bottom: 20px;
  font-size: 22px;
  color: #1d1d1d;
  text-align: center;
}

.habilidades ul {
  list-style: none;
  text-align: center;
}
.habilidades li {
  margin-bottom: 10px;
  color: #2e2d2d;
}

/* ========================= */
/* PROYECTO */
/* ========================= */
.proyecto {
  text-align: center;
}
.proyecto p {
  margin-bottom: 20px;
  color: #555;
}
.bookea img {
  width: 260px;
  height: 260px;
  object-fit: cover;
  border-radius: 25px;
  box-shadow: 0px 5px 20px rgba(17, 9, 9, 0.1);
}

/* ========================= */
/* CONTACTO */
/* ========================= */
.contacto h3 {
  text-align: center;
}
.contacto p {
  text-align: center;
  margin-bottom: 20px;
  color: #464545;
}
form {
  display: flex;
  flex-direction: column;
}

input,
textarea {
  width: 100%;
  padding: 12px 15px;
  border-radius: 12px;
  border: 1px solid #9b9696;
  background: #e0d8cf;
  font-size: 16px;
}

textarea {
  resize: none;
}

input[type="submit"] {
  background: rgb(10, 8, 8);
  color: white;
  border: none;
  cursor: pointer;
  transition: 0.3s;
  padding: 14px;
  font-weight: bold;
  margin-top: 10px;
}

input[type="submit"]:hover {
  background: #333;
}
/* ========================= */
/* RESPONSIVE */
/* ========================= */
@media (max-width: 768px) {
  body {
    padding: 20px;
  }
  h1 {
    font-size: 38px;
  }
  section {
    padding: 25px;
  }
  .habilidades div {
    width: 100%;
  }
}